Attom/attom-sales-flow.json
{"name":"ATTOM - Flujo de Ventas Completo","nodes":[{"parameters":{"httpMethod":"POST","path":"attom-webhook","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"attom-sales-webhook"},{"parameters":{"assignments":{"assignments":[{"id":"init-vars","name":"cliente_nombre","value":"={{ $json.body.nombre || $json.nombre || 'Amigo' }}","type":"string"},{"id":"init-phone","name":"cliente_telefono","value":"={{ $json.body.telefono || $json.telefono || '' }}","type":"string"},{"id":"init-negocio","name":"negocio_activo","value":"=0","type":"number"},{"id":"init-intencion","name":"intencion_crecimiento","value":"=0","type":"number"},{"id":"init-horizonte","name":"horizonte_continuidad","value":"=0","type":"number"},{"id":"init-score","name":"score_cliente","value":"=0","type":"number"},{"id":"init-step","name":"current_step","value":"bienvenida","type":"string"},{"id":"init-session","name":"session_id","value":"={{ $json.body.session_id || $json.session_id || $now.toMillis() }}","type":"string"}]},"options":{}},"id":"init-variables","name":"Inicializar Variables","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[470,300]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const nombre = $input.item.json.cliente_nombre || 'Amigo';\nconst mensajes = [\n  `¡Hola ${nombre}! 👋 Qué bueno verte aquí. Vamos a trabajar en tu web para que atraiga clientes.`,\n  `¡Bienvenido ${nombre}! 🚀 Me alegra ayudarte a crecer tu negocio con una web que funcione.`,\n  `¡Hola ${nombre}! ✨ Vamos a crear algo increíble para tu negocio.`\n];\nconst mensaje = mensajes[Math.floor(Math.random() * mensajes.length)];\nreturn { ...($input.item.json), mensaje_actual: mensaje, bloque_actual: 'bienvenida', siguiente_bloque: 'educacion' };"},"id":"bloque-1-bienvenida","name":"Bloque 1: Bienvenida","type":"n8n-nodes-base.code","typeVersion":2,"position":[690,300]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const nombre = $input.item.json.cliente_nombre || 'Amigo';\nconst mensaje = `${nombre}, hoy si no estás en internet, es como si no existieras. 🌐\\n\\nEl 87% de clientes buscan en Google antes de comprar. Tu web optimizada permite que te encuentren.\\n\\nCada visita orgánica es un cliente potencial. Es como tener vendedores 24/7. 📈\\n\\nCon Facebook Pixel, tus anuncios se optimizan automáticamente.`;\nreturn { ...($input.item.json), mensaje_actual: mensaje, bloque_actual: 'educacion', siguiente_bloque: 'filtrado' };"},"id":"bloque-2-educacion","name":"Bloque 2: Educación","type":"n8n-nodes-base.code","typeVersion":2,"position":[910,300]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const nombre = $input.item.json.cliente_nombre || 'Amigo';\nconst mensaje = `${nombre}, necesito hacerte 3 preguntas rápidas 📋\\n\\n1️⃣ ¿Tu negocio ya está funcionando y atendiendo clientes hoy?\\n\\n2️⃣ ¿Quieres usar esta web para atraer más clientes?\\n\\n3️⃣ ¿Planeas mantener tu negocio activo los próximos meses?\\n\\n👆 Responde SÍ o NO a cada pregunta`;\nreturn { ...($input.item.json), mensaje_actual: mensaje, bloque_actual: 'filtrado', siguiente_bloque: 'evaluar_score' };"},"id":"bloque-3-filtrado","name":"Bloque 3: Filtrado","type":"n8n-nodes-base.code","typeVersion":2,"position":[1130,300]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const respuestas = $input.item.json.respuestas_cliente || $input.item.json.body?.respuestas || {};\nconst esPositivo = (r) => { if (!r) return false; const x = r.toString().toLowerCase(); return ['sí','si','yes','claro','dale','ok'].includes(x); };\nconst negocio_activo = esPositivo(respuestas.pregunta_1) ? 1 : 0;\nconst intencion_crecimiento = esPositivo(respuestas.pregunta_2) ? 1 : 0;\nconst horizonte_continuidad = esPositivo(respuestas.pregunta_3) ? 1 : 0;\nconst score_cliente = negocio_activo + intencion_crecimiento + horizonte_continuidad;\nreturn { ...($input.item.json), negocio_activo, intencion_crecimiento, horizonte_continuidad, score_cliente, cliente_calificado: score_cliente >= 3 };"},"id":"evaluar-score","name":"Evaluar Score","type":"n8n-nodes-base.code","typeVersion":2,"position":[1350,300]},{"parameters":{"conditions":{"conditions":[{"leftValue":"={{ $json.score_cliente }}","rightValue":3,"operator":{"type":"number","operation":"gte"}}]}},"id":"switch-calificacion","name":"¿Cliente Calificado?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1570,300]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const nombre = $input.item.json.cliente_nombre || 'Amigo';\nconst mensaje = `¡Genial ${nombre}! 🎉 Tu negocio califica. Vamos a crear tu web GRATIS, paso a paso.`;\nreturn { ...($input.item.json), mensaje_actual: mensaje, bloque_actual: 'validacion' };"},"id":"bloque-4-validacion","name":"Bloque 4: Validación","type":"n8n-nodes-base.code","typeVersion":2,"position":[1790,200]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const nombre = $input.item.json.cliente_nombre || 'Amigo';\nconst mensaje = `${nombre}, gracias por tu tiempo. 🙏 Este servicio es para negocios activos. Cuando estés listo, vuelve. ¡Éxito!`;\nreturn { ...($input.item.json), mensaje_actual: mensaje, flujo_terminado: true };"},"id":"cierre-amable","name":"Cierre Amable","type":"n8n-nodes-base.code","typeVersion":2,"position":[1790,400]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const nombre = $input.item.json.cliente_nombre || 'Amigo';\nconst mensaje = `${nombre}, así funciona 📋\\n\\n✅ Web profesional GRATIS\\n✅ SEO optimizado\\n✅ Facebook Pixel\\n\\n💡 El hosting es como alquiler digital: $29.29/mes para mantener tu web activa 24/7.\\n\\n🎁 La web es GRATIS. Solo pagas hosting.`;\nreturn { ...($input.item.json), mensaje_actual: mensaje, precio_hosting: 29.29 };"},"id":"bloque-5-servicio","name":"Bloque 5: Servicio","type":"n8n-nodes-base.code","typeVersion":2,"position":[2010,200]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const nombre = $input.item.json.cliente_nombre || 'Amigo';\nconst mensaje = `¡Perfecto ${nombre}! 📝 Necesito info de tu negocio:\\n\\n1. Nombre del negocio\\n2. Ciudad/zona\\n3. Email\\n4. Redes sociales\\n5. Servicios/productos\\n6. Colores de marca\\n7. ¿Tienes logo?`;\nreturn { ...($input.item.json), mensaje_actual: mensaje };"},"id":"bloque-6-formulario","name":"Bloque 6: Formulario","type":"n8n-nodes-base.code","typeVersion":2,"position":[2230,200]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const nombre = $input.item.json.cliente_nombre || 'Amigo';\nconst mensaje = `🎉 ¡Listo ${nombre}!\\n\\n📅 Próximos pasos:\\n1. Diseño (3-5 días)\\n2. Tu aprobación\\n3. Activar hosting ($29.29/mes)\\n4. ¡Web online!\\n\\n¿Alguna pregunta?`;\nreturn { ...($input.item.json), mensaje_actual: mensaje, flujo_completado: true };"},"id":"bloque-7-confirmacion","name":"Bloque 7: Confirmación","type":"n8n-nodes-base.code","typeVersion":2,"position":[2450,200]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"},"id":"response-success","name":"Respuesta","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2670,200]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"},"id":"response-cierre","name":"Respuesta Cierre","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2010,400]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Inicializar Variables","type":"main","index":0}]]},"Inicializar Variables":{"main":[[{"node":"Bloque 1: Bienvenida","type":"main","index":0}]]},"Bloque 1: Bienvenida":{"main":[[{"node":"Bloque 2: Educación","type":"main","index":0}]]},"Bloque 2: Educación":{"main":[[{"node":"Bloque 3: Filtrado","type":"main","index":0}]]},"Bloque 3: Filtrado":{"main":[[{"node":"Evaluar Score","type":"main","index":0}]]},"Evaluar Score":{"main":[[{"node":"¿Cliente Calificado?","type":"main","index":0}]]},"¿Cliente Calificado?":{"main":[[{"node":"Bloque 4: Validación","type":"main","index":0}],[{"node":"Cierre Amable","type":"main","index":0}]]},"Bloque 4: Validación":{"main":[[{"node":"Bloque 5: Servicio","type":"main","index":0}]]},"Cierre Amable":{"main":[[{"node":"Respuesta Cierre","type":"main","index":0}]]},"Bloque 5: Servicio":{"main":[[{"node":"Bloque 6: Formulario","type":"main","index":0}]]},"Bloque 6: Formulario":{"main":[[{"node":"Bloque 7: Confirmación","type":"main","index":0}]]},"Bloque 7: Confirmación":{"main":[[{"node":"Respuesta","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}
