Attom/attom-whatsapp-conversacional.json
{"name":"ATTOM - WhatsApp Conversacional","nodes":[{"parameters":{"httpMethod":"POST","path":"attom-whatsapp","responseMode":"responseNode","options":{}},"id":"webhook-whatsapp","name":"WhatsApp Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const telefono = $input.item.json.body?.telefono || $input.item.json.telefono || '';\nconst mensaje = $input.item.json.body?.mensaje || $input.item.json.mensaje || '';\nconst nombre = $input.item.json.body?.nombre || $input.item.json.nombre || 'Amigo';\n\n// Simular sesión (en producción usar Redis)\nconst session = {\n  telefono,\n  nombre,\n  estado: $input.item.json.body?.estado || 'bienvenida',\n  negocio_activo: $input.item.json.body?.negocio_activo || 0,\n  intencion_crecimiento: $input.item.json.body?.intencion_crecimiento || 0,\n  horizonte_continuidad: $input.item.json.body?.horizonte_continuidad || 0,\n  score: 0,\n  mensaje_recibido: mensaje\n};\n\nreturn { json: session };"},"id":"procesar-entrada","name":"Procesar Entrada","type":"n8n-nodes-base.code","typeVersion":2,"position":[470,300]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const session = $input.item.json;\nconst estado = session.estado;\n\n// Detectar respuesta positiva\nconst esPositivo = (msg) => {\n  if (!msg) return false;\n  const x = msg.toString().toLowerCase().trim();\n  return ['sí','si','yes','claro','por supuesto','obvio','seguro','dale','ok','afirmativo','correcto','exacto'].some(p => x.includes(p));\n};\n\nlet respuesta = '';\nlet nuevoEstado = estado;\nlet negocio = session.negocio_activo;\nlet intencion = session.intencion_crecimiento;\nlet horizonte = session.horizonte_continuidad;\n\nswitch(estado) {\n  case 'bienvenida':\n    respuesta = `¡Hola ${session.nombre}! 👋 Qué bueno verte aquí.\\n\\nVamos a trabajar en tu web para que atraiga clientes. ¿Te cuento cómo funciona?`;\n    nuevoEstado = 'educacion';\n    break;\n    \n  case 'educacion':\n    respuesta = `${session.nombre}, hoy si no estás en internet, es como si no existieras. 🌐\\n\\nEl 87% de clientes buscan en Google antes de comprar.\\n\\n¿Sabías esto?`;\n    nuevoEstado = 'pregunta_1';\n    break;\n    \n  case 'pregunta_1':\n    respuesta = `Perfecto ${session.nombre}. Ahora necesito hacerte 3 preguntas rápidas 📋\\n\\n1️⃣ ¿Tu negocio ya está funcionando y atendiendo clientes hoy?`;\n    nuevoEstado = 'respuesta_1';\n    break;\n    \n  case 'respuesta_1':\n    negocio = esPositivo(session.mensaje_recibido) ? 1 : 0;\n    respuesta = `2️⃣ ¿Quieres usar esta web para atraer más clientes y hacer crecer tu negocio?`;\n    nuevoEstado = 'respuesta_2';\n    break;\n    \n  case 'respuesta_2':\n    intencion = esPositivo(session.mensaje_recibido) ? 1 : 0;\n    respuesta = `3️⃣ ¿Planeas mantener tu negocio activo los próximos meses?`;\n    nuevoEstado = 'respuesta_3';\n    break;\n    \n  case 'respuesta_3':\n    horizonte = esPositivo(session.mensaje_recibido) ? 1 : 0;\n    const score = negocio + intencion + horizonte;\n    if (score >= 3) {\n      respuesta = `¡Genial ${session.nombre}! 🎉 Tu negocio califica perfectamente.\\n\\nTe explico cómo funciona:`;\n      nuevoEstado = 'servicio';\n    } else {\n      respuesta = `${session.nombre}, gracias por tu tiempo. 🙏\\n\\nEste servicio es para negocios activos con intención de crecer.\\n\\nCuando estés listo, escríbeme. ¡Éxito!`;\n      nuevoEstado = 'finalizado';\n    }\n    break;\n    \n  case 'servicio':\n    respuesta = `${session.nombre}, así funciona 📋\\n\\n✅ Web profesional GRATIS\\n✅ SEO optimizado\\n✅ Facebook Pixel incluido\\n\\n💡 El hosting es como alquiler digital: $29.29/mes para mantener tu web activa 24/7.\\n\\n🎁 La web es GRATIS. Solo pagas el hosting.\\n\\n¿Te interesa?`;\n    nuevoEstado = 'formulario';\n    break;\n    \n  case 'formulario':\n    respuesta = `¡Perfecto ${session.nombre}! 📝\\n\\nNecesito algunos datos de tu negocio:\\n\\n1. Nombre del negocio\\n2. Ciudad/zona\\n3. Tu email\\n4. Redes sociales (si tienes)\\n\\nEnvíame esta info cuando puedas.`;\n    nuevoEstado = 'datos_negocio';\n    break;\n    \n  case 'datos_negocio':\n    respuesta = `Excelente. Ahora cuéntame:\\n\\n5. ¿Qué servicios o productos ofreces?\\n6. ¿Tienes colores de marca preferidos?\\n7. ¿Tienes logo?`;\n    nuevoEstado = 'confirmacion';\n    break;\n    \n  case 'confirmacion':\n    respuesta = `🎉 ¡Listo ${session.nombre}!\\n\\n📅 Próximos pasos:\\n1. Diseño de tu web (3-5 días)\\n2. Te muestro el resultado para tu aprobación\\n3. Activas el hosting ($29.29/mes)\\n4. ¡Tu web estará online!\\n\\n¿Alguna pregunta?`;\n    nuevoEstado = 'finalizado';\n    break;\n    \n  default:\n    respuesta = `¡Hola! Escribe \"hola\" para comenzar de nuevo.`;\n    nuevoEstado = 'bienvenida';\n}\n\nreturn {\n  json: {\n    telefono: session.telefono,\n    nombre: session.nombre,\n    respuesta,\n    estado_anterior: estado,\n    nuevo_estado: nuevoEstado,\n    negocio_activo: negocio,\n    intencion_crecimiento: intencion,\n    horizonte_continuidad: horizonte,\n    score: negocio + intencion + horizonte\n  }\n};"},"id":"router-conversacion","name":"Router Conversación","type":"n8n-nodes-base.code","typeVersion":2,"position":[690,300]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"},"id":"respuesta-whatsapp","name":"Respuesta WhatsApp","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[910,300]}],"connections":{"WhatsApp Webhook":{"main":[[{"node":"Procesar Entrada","type":"main","index":0}]]},"Procesar Entrada":{"main":[[{"node":"Router Conversación","type":"main","index":0}]]},"Router Conversación":{"main":[[{"node":"Respuesta WhatsApp","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}
